@import './components/buttons.css';
@import './components/canvas.css';
@import './components/gallery.css';
@import './components/user-actions.css';
@import './components/user-control.css';
@import './layout/main-layout.css';
@import './layout/mq.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #22252c;
  background-image: linear-gradient(315deg, #22252c 0%, #1e1e1e 74%);
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

img {
  width: 100%;
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.user-msg {
  display: none;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  animation: 1s pulse 1s 2;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #180000;
  top: 5em;
  left: 29em;
  z-index: 2;
  background-color: #19a59f;
  padding: 10px;
}

.user-msg.open {
  display: block;
}
