/* //MEDIA QUERIS// */

/* DESKTOP */

@media (min-width: 1029px) {
  .gallery {
    margin-inline-start: 20em;
  }
  .btn-random {
    margin-left: 2em;
  }
  .logo {
    font-size: 2rem;
    margin-inline-end: auto;
  }
}

/* TABLET */

@media (max-width: 1150px) {
  .main-content {
    flex-direction: column;
    gap: 2rem;
  }
  .logo {
    font-size: 1.5rem;
    margin-inline-end: auto;
  }
  .search {
    display: none;
    left: 20em;
    top: 2em;
  }
  .canvas-container {
    margin-inline-start: 3em;
  }
}

/* MOBILE */

@media (max-width: 935px) {
  .main-content {
    flex-direction: column;
    gap: 2rem;
  }
  .logo {
    font-size: 1rem;
    margin-inline-end: auto;
  }
  .search {
    display: none;
    left: 19em;
    top: 1em;
  }
  .main-header button {
    font-size: 0.8rem;
    margin-inline-start: 0.5rem;
    padding: 0.5rem;
  }
  .btn-random {
    font-size: 0.9rem;
    margin-block-start: 3rem;
    margin-inline-start: 17em;
  }
}

@media (max-width: 790px) {
  .main-content {
    margin-block-start: 0px;
  }

  .search {
    margin-block-start: 5em;
    left: 3em;
  }

  .gallery {
    display: flex;
  }

  .modal-gallery {
    display: flex;
    margin-block-start: 4em;
    margin-inline-start: 3em;
    display: block;
    column-count: 2;
  }
  .logo {
    font-size: 1em;
    margin-inline-end: auto;
  }

  .canvas {
    width: 80%;
  }

  .canvas-container {
    justify-content: center;
    margin: 0;
  }

  .btn-random {
    position: absolute;
    left: 3em;
    top: 2em;
    font-size: 0.8rem;
    padding: 0.1rem;

    /* margin-inline-start: 20em; */
  }
}
