.save-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #19a59f;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
}

.modal-gallery {
  display: none;
  column-count: 3;
  column-gap: 1em;
  margin-block-start: 4em;
  margin-inline-start: 4.5em;
}

.modal-gallery img {
  cursor: pointer;
  margin-block-start: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 10em;
  margin-inline-end: 0.6em;
}

.modal-gallery img:hover {
  transform: scale(1.1);
}
