.text-input {
  border: 1px solid black;
  border-radius: 50px;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.user-control {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(65, 71, 85, 0.342);
}
.user-save {
  display: flex;
  margin-block-start: auto;
  justify-content: space-around;
}
.user-save a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-control-fonts {
  display: flex;
  padding: 20px;
  width: 20em;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  background-color: #19a59f;
  border: 1px solid;
  border-radius: 10px;
}
.emoji {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
